# Byte-compiled
__pycache__/
.vscode
*.pyc

# Environments
venv/

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Unit test / coverage reports
.coverage
coverage.xml
result.xml
